 // RESPOSIVE BRANCH


@import 'mixins';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	background-color: white;
	line-height:2;
	font-family: 'Lato', sans-serif;
}

.wrapper {
	position:relative;
	
	.tool-one {
		@include tooltip(212px);
	}

	.tool-two {
		@include tooltip(245px);
	}

	nav {
		position: fixed;
		right: 70px;
		top: 30%;
		z-index: 9999;
		ul {
			padding:0px; 
			li {
				list-style: none;
				img {
					height: 17px;
					opacity: 0.5;
				}
				img:hover {
					opacity: 1;
				}
			}
		}
	}
	
	// FOOTER
	.take-survey-div {
		background-image: url('/images/footer.png');
		background-size:cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 90px;
		position: fixed;
		bottom: 0;
		z-index: 11;
		display: none;
		.take-survey-one {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto auto;
			display: none;
		}

		.take-survey-two {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto auto;
			display: none;
		}

		.take-survey-three {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto auto;
			display: none;
		}
	}


	.window-one-wrap {
		z-index: 5;
		position:relative;
		.bg-1 {
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
			position: relative;

			video {
				position: absolute;
				right: 0; 
				bottom: 0;
				min-width: 100%;
				min-height: 100%;
				width: auto; 
				height: auto; 
				z-index: -100;
			}

			.cover {
				z-index: -50;
				width: 100%;
				opacity: .7;
			}

			.logo-div {
					@include center-div(absolute);
					top: 15%;
					.logo {
						position: relative;
						left:-50%;
					}
				}

			.desc-div {
				@include center-div(absolute);
				bottom: 5%;
				.desc {
					position:relative;
					left: -50%
				}
			}

			.desc-bg {
				position:absolute;
				width: 100%;
				z-index: 0;
				height: 190px;
				bottom: -30px;
				opacity: 1;
			}
		}
	}
	
	.window-two-wrap {
		position:relative;
		z-index: 5;
		.bg-2 {
			height: 962px;
			width: 100%;
			position: relative;
			background-image: url("/images/bg2-filter.png"), url("/images/bg2.jpg");
			background-size: cover,cover;
			background-repeat: no-repeat, no-repeat;
			background-position: center;
			.con {
				position:absolute;
				width:1280px;
				left: 0;
				right: 0;
				margin: 0 auto;
				z-index: 500;

				.circle-one {
				position: absolute;
				// z-index: 10;
				top:40px;
				left: 0;
				right: 0;
				margin: 0 auto;
				display: none;
			}

				#curve-line-1 {
					position: absolute;
					// z-index: 10;
					left: 48.5%;
					top: 24px;
					height: 390px;
					width: 470px;		
					svg {
						.line-one {
							stroke-dasharray: 1204.9405517578125;
							stroke-dashoffset: 1204.9405517578125;
							// stroke-dasharray: 0;
							// stroke-dashoffset: 0;
						}
					}
				}

				#castle {
					position: absolute;
					// z-index: 10;
					top: 38px;
					right: 0;
					left: 0;
					margin:0 auto;
					height: 446px;
					width: 455px;
					svg {
						.castle-path{
							stroke-dashoffset:1155.9654541015625;
							stroke-dasharray:1155.9654541015625;
							// stroke-dasharray: 0;
							// stroke-dashoffset: 0;
						}
					}
				}

				#curve-line-2 {
					position: absolute;
					// z-index: 10;
					top: 344px;
					right: 61.7%;
					height: 270px;
					width: 326px;
					svg {
						.line-two {
							stroke-dasharray:332.88720703125;
							stroke-dashoffset:332.88720703125;
							// stroke-dasharray: 0;
							// stroke-dashoffset: 0;
						}
					}
				}

				.circle-two {
					position: absolute;
					// z-index: 10;	
					top: 542px;
					left: 14%;
					display: none;
				}

				#white-line {
					position: absolute;
					// z-index: 10;
					top:536px;
					left: 16%;
					height: 44px;
					width: 710px;
					svg {
						.white-line {
							stroke-dasharray: 650;
							stroke-dashoffset: 650;
							// stroke-dasharray: 0;
							// stroke-dashoffset: 0;
						}
					}
				}

				#curve-line-3 {
					position: absolute;
					// z-index: 10;
					top: 570px;
					left: 14.5%;
					height: 428px;
					width: 18px;
					svg {
						.line-three{
							stroke-dashoffset:243;
							stroke-dasharray:243;
							// stroke-dasharray: 0;
							// stroke-dashoffset: 0;
						}
					}
				}
			}

			.fact-div {
				@include center-div(absolute);
				top: 45%;

				.fact-one {
				background: rgba(0, 0, 0, 0.5);
				position:relative;
				color: white;
				text-align: center;	
				padding-right: 75px;
				padding-bottom: 25px;
				padding-left:75px;
				line-height: 1.5;
				left: -51%;
				display: none;

				.number {
					font-size: 85px;
					font-weight:bolder;
					color:#ffd500;
				}

				.sub-con {
					font-size: 45px;
					font-weight: 100;
				}

				.sub-con-two {
					font-size: 25px;
					font-weight: 100;
					}
				}
			}
		}
	}

	.window-three-wrap {
		position:relative;
		z-index: 5;
		.bg-3 {
			height: 962px;
			width: 100%;
			z-index: 2;
			position: relative;
			background-image: url('/images/bg3.jpg');
			background-size:cover;
			background-repeat: no-repeat;
			.con {
				position:absolute;
				width:1280px;
				left: 0;
				right: 0;
				margin: 0 auto;
				z-index: 500;
				#third-page-line{
					position: absolute;
					z-index: 10;
					top: -37px;
					left: 4.7%;
					height: 1025px;
					width: 1044px;
					z-index: 500;
					svg {
						.line-four {
							stroke-dashoffset:1708.6005859375;
							stroke-dasharray:1708.6005859375;
							// stroke-dasharray: 0;
							// stroke-dashoffset: 0;
						}
					}
				}
			}

			
			.center-circle {
				position:absolute;
				right: 0;
				left: 0;
				top:13%;
				margin: 0 auto;
				height: 500px;
				width: 500px;
				background: rgba(0, 0, 0, 0.5);
				border-radius:100%;
				display: none;

				.circle-con1 {
					top: 20%;
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					display: none;
				}

				.circle-con2 {
					top: 27%;
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					display: none;
				}
				
				.circle-con3 {
					top: 55%;
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					display: none;
				}
			}
		}
	}

	.window-four-wrap {
		position:relative;
		z-index: 5;
		.bg-4 {
			height: 962px;
			width: 100%;
			z-index: 2;
			position: relative;
			background-image: url('/images/bg2-filter.png'), url('/images/bg4.jpg');
			background-size:cover,cover;
			background-repeat: no-repeat, no-repeat;

			.fact-div {
				@include center-div(absolute);
				top: 8%;

				.fact-two {
					background: rgba(0, 0, 0, 0.5);
					position:relative;
					color: white;
					text-align: center;	
					width: 580px;
					padding-bottom: 25px;
					line-height: 1.5;
					left: -53%;
					// display: none;

					.number-two {
						font-size: 85px;
						font-weight:bolder;
						color:#ffd500;
					}

					.sub-con {
						font-size: 35px;
						font-weight: 100;
					}
				}
			}
		}
	}
}
