 // RESPOSIVE BRANCH


@import 'mixins';

.wrapper {
	
	.window-two-wrap {

		.bg-2 {
			height: 768px;
			.con {
				width:900px;

				#curve-line-1 {
					left: 48.5%;
					height: 360px;
					width: 430px;		
				}

				#castle {
					height: 402px;
					width: 427px;
				}

				#curve-line-2 {
					top: 325px;
					right: 65.9%;
					height: 200px;
					width: 250px;
				}

				.circle-two {
					top: 470px;
					left: 7.5%;
				}

				#white-line {
					top: 465px;
					left: 10.4%;
					width: 560px;
				}

				#curve-line-3 {
					top: 500px;
					left: 8.4%;
					height: 270px;
				}
			}

			.fact-div {
				@include center-div(absolute);
				top: 53%;

				.fact-one {
					left: -50%;
					.number {
						font-size: 50px;
					}

					.sub-con {
						font-size: 30px;
					}

					.sub-con-two {
						font-size: 20px;
					}
				}
			}
		}
	}

	.window-three-wrap {
		position:relative;
		z-index: 5;
		.bg-3 {
			height: 962px;
			width: 100%;
			z-index: 2;
			position: relative;
			background-image: url('/images/bg3.jpg');
			background-size:cover;
			background-repeat: no-repeat;
			.con {
				position:absolute;
				width:900px;
				left: 0;
				right: 0;
				margin: 0 auto;
				z-index: 500;
				#third-page-line{
					top: -30px;
					left: -1.6%;
					height: 800px;
					width: 800px;
					svg {
						.line-four {
							// stroke-dashoffset:1708.6005859375;
							// stroke-dasharray:1708.6005859375;
							stroke-dasharray: 0;
							stroke-dashoffset: 0;
						}
					}
				}
			}

			
			.center-circle {
				position:absolute;
				right: 0;
				left: 0;
				top:13%;
				margin: 0 auto;
				height: 500px;
				width: 500px;
				background: rgba(0, 0, 0, 0.5);
				border-radius:100%;
				display: none;

				.circle-con1 {
					top: 20%;
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					display: none;
				}

				.circle-con2 {
					top: 27%;
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					display: none;
				}
				
				.circle-con3 {
					top: 55%;
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					display: none;
				}
			}
		}
	}

	.window-four-wrap {
		position:relative;
		z-index: 5;
		.bg-4 {
			height: 962px;
			width: 100%;
			z-index: 2;
			position: relative;
			background-image: url('/images/bg2-filter.png'), url('/images/bg4.jpg');
			background-size:cover,cover;
			background-repeat: no-repeat, no-repeat;

			.fact-div {
				@include center-div(absolute);
				top: 8%;

				.fact-two {
					background: rgba(0, 0, 0, 0.5);
					position:relative;
					color: white;
					text-align: center;	
					width: 580px;
					padding-bottom: 25px;
					line-height: 1.5;
					left: -53%;
					// display: none;

					.number-two {
						font-size: 85px;
						font-weight:bolder;
						color:#ffd500;
					}

					.sub-con {
						font-size: 35px;
						font-weight: 100;
					}
				}
			}
		}
	}
}
