/* line 1, ../sass/main.scss */
body, html {
  margin: 0px;
  padding: 0px;
}

/* line 5, ../sass/main.scss */
body {
  background-color: black;
  line-height: 2;
  font-family: 'Lato', sans-serif;
}

/* line 10, ../sass/main.scss */
.wrapper {
  position: relative;
}
/* line 13, ../sass/main.scss */
.wrapper #curve-line-1 {
  position: absolute;
  z-index: 10;
  top: 31%;
  left: 53%;
}
/* line 27, ../sass/main.scss */
.wrapper #curve-line-2 {
  position: absolute;
  z-index: 10;
  top: 1200px;
  left: 22px;
}
/* line 34, ../sass/main.scss */
.wrapper nav {
  position: fixed;
  right: 70px;
  top: 30%;
  z-index: 9999;
}
/* line 39, ../sass/main.scss */
.wrapper nav ul {
  padding: 0px;
}
/* line 41, ../sass/main.scss */
.wrapper nav ul li {
  list-style: none;
}
/* line 43, ../sass/main.scss */
.wrapper nav ul li img {
  height: 17px;
}
/* line 46, ../sass/main.scss */
.wrapper nav ul li img:hover {
  border: 2px solid white;
  border-radius: 100%;
}
/* line 54, ../sass/main.scss */
.wrapper .bg-1 {
  position: relative;
  width: 100%;
  height: 900px;
}
/* line 59, ../sass/main.scss */
.wrapper .bg-1 video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
/* line 70, ../sass/main.scss */
.wrapper .bg-1 .logo {
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 2;
  margin-left: -50px;
}
/* line 78, ../sass/main.scss */
.wrapper .bg-1 .desc {
  position: absolute;
  bottom: 5%;
  left: 50%;
  z-index: 2;
  margin-left: -50px;
}
/* line 86, ../sass/main.scss */
.wrapper .bg-1 .desc-bg {
  position: absolute;
  width: 100%;
  z-index: 0;
  height: 190px;
  bottom: 0;
  opacity: .7;
}
/* line 95, ../sass/main.scss */
.wrapper .bg-1 .blue-circle {
  position: absolute;
  z-index: 2;
  bottom: 5%;
  right: 30%;
  display: none;
}
/* line 104, ../sass/main.scss */
.wrapper .bg-2 {
  height: 1080px;
  width: 100%;
  z-index: 2;
  position: relative;
  background-image: url("/images/bg2-filter.png"), url("/images/bg2.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
/* line 113, ../sass/main.scss */
.wrapper .bg-2 .take-survey {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -50px;
}
/* line 120, ../sass/main.scss */
.wrapper .bg-2 .take-survey-bg {
  position: absolute;
  width: 100%;
  z-index: 0;
  height: 190px;
  bottom: 0;
  opacity: .7;
}
/* line 129, ../sass/main.scss */
.wrapper .bg-2 .annual-visitor {
  position: absolute;
  color: white;
  text-align: center;
  width: 660px;
  padding: 20px;
  border: 1px solid white;
  line-height: 1.5;
  top: 50%;
  left: 38%;
}
/* line 140, ../sass/main.scss */
.wrapper .bg-2 .annual-visitor .number {
  font-size: 100px;
  font-weight: bolder;
  color: #ffd500;
}
/* line 146, ../sass/main.scss */
.wrapper .bg-2 .annual-visitor .sub-con {
  font-size: 55px;
  font-weight: 100;
}
/* line 151, ../sass/main.scss */
.wrapper .bg-2 .annual-visitor .sub-con-two {
  font-size: 35px;
  font-weight: 100;
}
/* line 157, ../sass/main.scss */
.wrapper .bg-2 #castle {
  position: absolute;
  left: 45%;
  top: 12%;
  height: 362px;
  margin-left: -50px;
}
/* line 165, ../sass/main.scss */
.wrapper .bg-2 .castle {
  position: absolute;
  left: 33%;
  top: 0%;
  height: 362px;
}

/* line 176, ../sass/main.scss */
.parallax-nav .active {
  border: 2px solid white;
  border-radius: 100%;
}
