/* line 10, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 {
  height: 768px;
}
/* line 12, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .con {
  width: 900px;
}
/* line 15, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .con #curve-line-1 {
  left: 48.5%;
  height: 360px;
  width: 430px;
}
/* line 21, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .con #castle {
  height: 402px;
  width: 427px;
}
/* line 26, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .con #curve-line-2 {
  top: 325px;
  right: 65.9%;
  height: 200px;
  width: 250px;
}
/* line 33, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .con .circle-two {
  top: 470px;
  left: 7.5%;
}
/* line 38, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .con #white-line {
  top: 465px;
  left: 10.4%;
  width: 560px;
}
/* line 44, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .con #curve-line-3 {
  top: 500px;
  left: 8.4%;
  height: 270px;
}
/* line 51, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .fact-div {
  top: 53%;
  width: 405px;
}
/* line 57, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .fact-div .fact-one .number {
  font-size: 50px;
}
/* line 61, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .fact-div .fact-one .sub-con {
  font-size: 30px;
}
/* line 65, ../sass/medium.scss */
.wrapper .window-two-wrap .bg-2 .fact-div .fact-one .sub-con-two {
  font-size: 20px;
}
/* line 73, ../sass/medium.scss */
.wrapper .window-three-wrap {
  position: relative;
  z-index: 5;
}
/* line 76, ../sass/medium.scss */
.wrapper .window-three-wrap .bg-3 {
  height: 768px;
}
/* line 79, ../sass/medium.scss */
.wrapper .window-three-wrap .bg-3 .con {
  width: 900px;
}
/* line 82, ../sass/medium.scss */
.wrapper .window-three-wrap .bg-3 .con #third-page-line {
  top: -32px;
  left: -2.1%;
  height: 840px;
  width: 840px;
}
/* line 91, ../sass/medium.scss */
.wrapper .window-three-wrap .bg-3 .center-circle {
  position: absolute;
  right: 0;
  left: 0;
  top: 13%;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  display: none;
}
/* line 103, ../sass/medium.scss */
.wrapper .window-three-wrap .bg-3 .center-circle .circle-con1 {
  top: 20%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}
/* line 112, ../sass/medium.scss */
.wrapper .window-three-wrap .bg-3 .center-circle .circle-con2 {
  top: 27%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}
/* line 121, ../sass/medium.scss */
.wrapper .window-three-wrap .bg-3 .center-circle .circle-con3 {
  top: 55%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}
/* line 133, ../sass/medium.scss */
.wrapper .window-four-wrap {
  position: relative;
  z-index: 5;
}
/* line 136, ../sass/medium.scss */
.wrapper .window-four-wrap .bg-4 {
  height: 962px;
  width: 100%;
  z-index: 2;
  position: relative;
  background-image: url("/images/bg2-filter.png"), url("/images/bg4.jpg");
  background-size: cover,cover;
  background-repeat: no-repeat, no-repeat;
}
/* line 145, ../sass/medium.scss */
.wrapper .window-four-wrap .bg-4 .fact-div {
  top: 8%;
  width: 500px;
}
/* line 151, ../sass/medium.scss */
.wrapper .window-four-wrap .bg-4 .fact-div .fact-two .number-two {
  font-size: 60px;
  font-weight: bolder;
  color: #ffd500;
}
/* line 157, ../sass/medium.scss */
.wrapper .window-four-wrap .bg-4 .fact-div .fact-two .sub-con {
  font-size: 30px;
  font-weight: 100;
}
