/* line 19, ../sass/small.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 30, ../sass/small.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/small.scss */
body {
  line-height: 1;
}

/* line 36, ../sass/small.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/small.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../sass/small.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/small.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../sass/small.scss */
body {
  background-color: white;
  line-height: 2;
  font-family: 'Lato', sans-serif;
}

/* line 59, ../sass/small.scss */
.wrapper {
  position: relative;
}
/* line 62, ../sass/small.scss */
.wrapper .tool-one {
  width: 100px;
  padding: 5px;
  text-align: center;
  background-color: #0bb3ff;
  color: white;
  z-index: 10;
  line-height: 1;
  position: fixed;
  font-weight: 100;
  font-size: 15px;
  right: 120px;
  top: 212px;
  display: none;
}
/* line 66, ../sass/small.scss */
.wrapper .tool-two {
  width: 100px;
  padding: 5px;
  text-align: center;
  background-color: #0bb3ff;
  color: white;
  z-index: 10;
  line-height: 1;
  position: fixed;
  font-weight: 100;
  font-size: 15px;
  right: 120px;
  top: 245px;
  display: none;
}
/* line 70, ../sass/small.scss */
.wrapper .castle-line {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
}
/* line 79, ../sass/small.scss */
.wrapper .castle-line .circle-one {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}
/* line 88, ../sass/small.scss */
.wrapper .castle-line .circle-two {
  position: absolute;
  z-index: 10;
  top: 1040px;
  left: 74px;
  display: none;
}
/* line 96, ../sass/small.scss */
.wrapper .castle-line #curve-line-1 {
  position: absolute;
  z-index: 10;
  top: 638px;
  left: 349px;
  height: 390px;
  width: 335px;
}
/* line 104, ../sass/small.scss */
.wrapper .castle-line #curve-line-1 svg .line-one {
  stroke-dasharray: 1204.9405517578125;
  stroke-dashoffset: 1204.9405517578125;
}
/* line 114, ../sass/small.scss */
.wrapper .castle-line #castle {
  position: absolute;
  z-index: 10;
  top: 753px;
  left: 203px;
  height: 222px;
  width: 327px;
}
/* line 122, ../sass/small.scss */
.wrapper .castle-line #castle svg .castle-path {
  stroke-dashoffset: 1155.9654541015625;
  stroke-dasharray: 1155.9654541015625;
}
/* line 131, ../sass/small.scss */
.wrapper .castle-line #curve-line-2 {
  position: absolute;
  z-index: 10;
  top: 928px;
  left: 12px;
  height: 154px;
  width: 308px;
}
/* line 139, ../sass/small.scss */
.wrapper .castle-line #curve-line-2 svg path {
  stroke-dasharray: 332.88720703125;
  stroke-dashoffset: 332.88720703125;
}
/* line 148, ../sass/small.scss */
.wrapper .castle-line #white-line {
  position: absolute;
  z-index: 10;
  top: 1036px;
  left: 102px;
  height: 44px;
  width: 482px;
}
/* line 156, ../sass/small.scss */
.wrapper .castle-line #white-line svg path {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
}
/* line 165, ../sass/small.scss */
.wrapper .castle-line #curve-line-3 {
  position: absolute;
  z-index: 10;
  top: 1070px;
  left: 80px;
  height: 301px;
  width: 18px;
}
/* line 173, ../sass/small.scss */
.wrapper .castle-line #curve-line-3 svg path {
  stroke-dashoffset: 243;
  stroke-dasharray: 243;
}
/* line 182, ../sass/small.scss */
.wrapper .castle-line #third-page-line {
  position: absolute;
  z-index: 10;
  top: 1158px;
  left: 8px;
  height: 1025px;
  width: 654px;
}
/* line 190, ../sass/small.scss */
.wrapper .castle-line #third-page-line svg path {
  stroke-dashoffset: 1708.6005859375;
  stroke-dasharray: 1708.6005859375;
}
/* line 201, ../sass/small.scss */
.wrapper nav {
  position: fixed;
  right: 70px;
  top: 30%;
  z-index: 9999;
}
/* line 206, ../sass/small.scss */
.wrapper nav ul {
  padding: 0px;
}
/* line 208, ../sass/small.scss */
.wrapper nav ul li {
  list-style: none;
}
/* line 210, ../sass/small.scss */
.wrapper nav ul li img {
  height: 17px;
}
/* line 213, ../sass/small.scss */
.wrapper nav ul li img:hover {
  border: 2px solid white;
  border-radius: 100%;
}
/* line 222, ../sass/small.scss */
.wrapper .window-one-wrap {
  z-index: 5;
  position: relative;
}
/* line 225, ../sass/small.scss */
.wrapper .window-one-wrap .bg-1 {
  background-image: url("/images/bg2-filter.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}
/* line 233, ../sass/small.scss */
.wrapper .window-one-wrap .bg-1 video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
/* line 244, ../sass/small.scss */
.wrapper .window-one-wrap .bg-1 .cover {
  z-index: -50;
  height: 100%;
  width: 100%;
  opacity: .5;
}
/* line 251, ../sass/small.scss */
.wrapper .window-one-wrap .bg-1 .logo-div {
  position: absolute;
  left: 50%;
  z-index: 11;
  top: 15%;
}
/* line 254, ../sass/small.scss */
.wrapper .window-one-wrap .bg-1 .logo-div .logo {
  position: relative;
  left: -50%;
}
/* line 260, ../sass/small.scss */
.wrapper .window-one-wrap .bg-1 .desc-div {
  position: absolute;
  left: 50%;
  z-index: 11;
  bottom: 5%;
}
/* line 263, ../sass/small.scss */
.wrapper .window-one-wrap .bg-1 .desc-div .desc {
  position: relative;
  left: -50%;
}
/* line 269, ../sass/small.scss */
.wrapper .window-one-wrap .bg-1 .desc-bg {
  position: absolute;
  width: 100%;
  z-index: 0;
  height: 190px;
  bottom: 0;
  opacity: .7;
}
/* line 280, ../sass/small.scss */
.wrapper .window-two-wrap {
  position: relative;
  z-index: 5;
  height: 100%;
}
/* line 284, ../sass/small.scss */
.wrapper .window-two-wrap .bg-2 {
  height: 677px;
  position: relative;
  background-image: url("/images/bg2-filter.png"), url("/images/bg2.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
/* line 292, ../sass/small.scss */
.wrapper .window-two-wrap .bg-2 .fact-div {
  position: absolute;
  left: 50%;
  z-index: 11;
  top: 42%;
}
/* line 296, ../sass/small.scss */
.wrapper .window-two-wrap .bg-2 .fact-div .fact-one {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  color: white;
  text-align: center;
  width: 360px;
  padding-bottom: 25px;
  line-height: 1.5;
  left: -38%;
  display: none;
}
/* line 307, ../sass/small.scss */
.wrapper .window-two-wrap .bg-2 .fact-div .fact-one .number {
  font-size: 55px;
  font-weight: bolder;
  color: #ffd500;
}
/* line 313, ../sass/small.scss */
.wrapper .window-two-wrap .bg-2 .fact-div .fact-one .sub-con {
  font-size: 35px;
  font-weight: 100;
}
/* line 318, ../sass/small.scss */
.wrapper .window-two-wrap .bg-2 .fact-div .fact-one .sub-con-two {
  font-size: 25px;
  font-weight: 100;
}
/* line 325, ../sass/small.scss */
.wrapper .window-two-wrap .bg-2 .take-survey-div {
  width: 455px;
  position: absolute;
  right: 0;
  bottom: 4%;
  left: 0;
  margin: 0 auto;
  z-index: 11;
  display: none;
}
/* line 334, ../sass/small.scss */
.wrapper .window-two-wrap .bg-2 .take-survey-div .take-survey {
  position: relative;
}
/* line 339, ../sass/small.scss */
.wrapper .window-two-wrap .bg-2 .take-survey-bg {
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 100px;
  bottom: 0;
  opacity: 1;
  display: none;
}
/* line 345, ../sass/small.scss */
.wrapper .window-three-wrap {
  position: relative;
  z-index: 5;
  height: 100%;
}
/* line 349, ../sass/small.scss */
.wrapper .window-three-wrap .bg-3 {
  height: 677px;
  z-index: 2;
  position: relative;
  background-image: url("/images/bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 357, ../sass/small.scss */
.wrapper .window-three-wrap .bg-3 .center-circle {
  position: absolute;
  right: 0;
  left: 0;
  top: 13%;
  margin: 0 auto;
  height: 390px;
  width: 390px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}
/* line 369, ../sass/small.scss */
.wrapper .window-three-wrap .bg-3 .center-circle .circle-con1 {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 17px;
}
/* line 379, ../sass/small.scss */
.wrapper .window-three-wrap .bg-3 .center-circle .circle-con2 {
  position: absolute;
  top: 27%;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 25px;
}
/* line 389, ../sass/small.scss */
.wrapper .window-three-wrap .bg-3 .center-circle .circle-con3 {
  position: absolute;
  top: 55%;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 90px;
}
/* line 399, ../sass/small.scss */
.wrapper .window-three-wrap .bg-3 .center-circle .take-survey-div {
  width: 455px;
  position: absolute;
  right: 0;
  bottom: 4%;
  left: 0;
  margin: 0 auto;
  z-index: 11;
  display: none;
}
/* line 408, ../sass/small.scss */
.wrapper .window-three-wrap .bg-3 .center-circle .take-survey-div .take-survey {
  position: relative;
}
/* line 413, ../sass/small.scss */
.wrapper .window-three-wrap .bg-3 .center-circle .take-survey-bg-two {
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 100px;
  bottom: 0;
  opacity: 1;
  display: none;
}
/* line 420, ../sass/small.scss */
.wrapper .window-four-wrap {
  position: relative;
  z-index: 5;
  height: 100%;
}
/* line 424, ../sass/small.scss */
.wrapper .window-four-wrap .bg-4 {
  height: 677px;
  z-index: 2;
  position: relative;
  background-image: url("/images/bg2-filter.png"), url("/images/bg4.jpg");
  background-size: cover,cover;
  background-repeat: no-repeat, no-repeat;
}
/* line 432, ../sass/small.scss */
.wrapper .window-four-wrap .bg-4 .take-survey-div {
  width: 455px;
  position: absolute;
  right: 0;
  bottom: 4%;
  left: 0;
  margin: 0 auto;
  z-index: 11;
  display: none;
}
/* line 441, ../sass/small.scss */
.wrapper .window-four-wrap .bg-4 .take-survey-div .take-survey {
  position: relative;
}
/* line 446, ../sass/small.scss */
.wrapper .window-four-wrap .bg-4 .take-survey-bg-three {
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 100px;
  bottom: 0;
  opacity: 1;
  display: none;
}
/* line 450, ../sass/small.scss */
.wrapper .window-four-wrap .bg-4 .fact-div {
  position: absolute;
  left: 50%;
  z-index: 11;
  top: 8%;
}
/* line 454, ../sass/small.scss */
.wrapper .window-four-wrap .bg-4 .fact-div .fact-two {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  color: white;
  text-align: center;
  width: 400px;
  padding-bottom: 25px;
  line-height: 1.5;
  left: -53%;
}
/* line 465, ../sass/small.scss */
.wrapper .window-four-wrap .bg-4 .fact-div .fact-two .number-two {
  font-size: 60px;
  font-weight: bolder;
  color: #ffd500;
}
/* line 471, ../sass/small.scss */
.wrapper .window-four-wrap .bg-4 .fact-div .fact-two .sub-con {
  font-size: 25px;
  font-weight: 100;
}
